@import-normalize; /* bring in normalize.css styles */

:root {
  --secondary-font-family: 'Montserrat', sans-serif;
  --main-text-color: #121417;
  --secondary-text-color: rgba(18, 20, 23, 0.5);
  --accent-color: #3470ff;
  --hover-color: #0b44cd;
  --white-text-color: #fff;
  --input-color: #f7f7fb;

  --main-transition: all 250ms linear;
}

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  background-color: #ffffff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
